@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center" style="  background-image: url(~/Content/home.jpg); background-size:cover; background-attachment:fixed">
    <h1 style="color:gold"> SS Human Resource Management System</h1>
    <p class="lead" style="color:white">We make tasks efficient</p>
    <p><a href="login.html" class="btn btn-primary btn-lg">Login to continue &raquo;</a></p>
    <p><a href="" class="btn btn-primary btn-lg " style="background-color: #007ACC">Like Us on Facebook &raquo;</a></p>
</div>


<div class="container">


    <div class="col-md-4">
        <img class="img img-responsive" style="height:250px; width:250px " src="https://img.clipartfest.com/078df4f8ab32a4c5bdcf7163010dbf10_ladybug-clipart-free-cute-ladybug-clipart_5214-4289.png">

    </div>

    <div class="col-md-6">
        <br />
        <br />
        <br />
        <h2>
            Welcome to one of the easy to use and efficient HR Management Systems in the World
        </h2>
    </div>

</div>

